<div class="contents row">
<% @a.each do |b| %>
  <div class="content_post" style="background-image: url(<%= b.image %>);">
 
  <span class="name">
  <%= link_to "#{b.name}", "/restaurants/#{b.id}" , method: :get %>
  </span>
  </div>
  <% end %>
  <%= paginate(@a) %>
</div>