<div class="contents row">
<% @a.each do |b| %>
  <div class="content_post" style="background-image: url(<%= b.image %>);">
 
  <span class="name">
  <% if Hotpepper.search(b.name).length != 0 %>
  <a href=<%=Hotpepper.search(b.name)%>}> ホットペッパー</a>
  <% end %>
  </span>
  <p>
  <%= link_to "#{b.name}", "/restaurants/#{b.id}" , method: :get %>
  </p>
  </div>
  <% end %>
  <%= paginate(@a) %>
</div>